version: "3.8"

services:
  backend:
    build: ./keazy-backend
    ports:
      - "3000:3000"
    env_file:
      - ./keazy-backend/.env
    depends_on:
      - mlservice
      - mongodb

  mlservice:
    build: ./ml-service
    ports:
      - "5000:5000"   # match app.py
    env_file:
      - ./ml-service/.env
    depends_on:
      - mongodb

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
